<div class="row">
  <div class="span6 offset3">
    <%= form_for(@parking) do |f| %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.submit "Crear nnuevo parking", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
